html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  background-color: rgb(255, 239, 218);
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

input {
  width: 2rem;
  margin-right: 1rem;
  margin-left: auto;
}
